html,
body,
#root,
.MainPage {
  height: 100%;

}

html,
body {
  font-size: 16px;
  margin: 0 auto;
  font-family: "Raleway", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}


code {
  font-size: 16px;
  font-family: "Raleway";
}

html::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

html::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

html::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #2b3a42;

}

button::-moz-focus-inner {
  border: 0;
}

@media screen and (max-width: 1000px) {
  .alignContainer #containerA4 {
    transform: scale(0.9);
  }

  .alignContainer #container {
    transform: scale(0.9);
  }

  .CvMenuWrapper div .layoutSubMenu {
    transform: scale(0.8);
    left: -50px;
  }

  .CvMenuWrapper div .templatesSubMenu {
    transform: scale(0.8);
    left: 0px;
  }

  .CvMenuWrapper div .coverLayoutSubMenu {
    transform: scale(0.9);
    left: -20px;
    top: 100px;
  }
}

@media screen and (max-width: 800px) {
  .alignContainer #containerA4 {
    transform: scale(0.7);
  }

  .CvMenuWrapper div .layoutSubMenu {
    transform: scale(0.7);
    left: -80px;
  }

  .CvMenuWrapper div .templatesSubMenu {
    transform: scale(0.7);
    left: -110px;
  }

  .CvMenuWrapper div .coverLayoutSubMenu {
    transform: scale(0.9);
    left: -20px;
    top: 100px;
  }
}

@media screen and (max-width: 700px) {
  .alignContainer {
    min-width: none;
  }

  .alignContainer #containerA4 {
    transform: scale(0.6);
    padding: 0;
    top: -220px;
    align-self: center;
  }

  #container {
    scale: 0.6;
    padding-top: 0;
    align-self: center;
  }

  .Down {
    display: none;
  }

  .CvMenuWrapper div .layoutSubMenu {
    transform: scale(0.5);
    left: -150px;
  }

  .CvMenuWrapper div .templatesSubMenu {
    transform: scale(0.6);
    left: -110px;
  }

  .CvMenuWrapper div .coverLayoutSubMenu {
    transform: scale(0.7);
    left: -20px;
    top: 100px;
  }

  /* .alignContainer #containerA4 {
    transform: scale(0.7);
} */
  .MyDocs {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .alignContainer {
    min-width: none;
  }

  .CvMenuWrapper div .layoutSubMenu {
    transform: scale(0.4);
    left: -250px;
  }

  .CvMenuWrapper div .templatesSubMenu {
    transform: scale(0.4);
    left: -220px;
  }

  .CvMenuWrapper div .coverLayoutSubMenu {
    transform: scale(0.7);
    left: -20px;
    top: 100px;
  }

  .Down {
    display: none;
  }

  .CvMenuWrapper div .extra-tools-btn {
    padding: 0px;
  }

  .MyDocs {
    display: none;
  }

  .logo-template {
    font-size: 25px;
  }

  #container {
    transform: scale(0.3);
    align-self: center;
    left: -200px;
    margin: 0;
  }

  .alignContainer #containerA4 {
    transform: scale(0.4);

  }

  .builderNavBurger {
    scale: 0.8;
  }
}