.Jumbotron {
  height: 500px;
  width: 100%;
  background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
  display: flex;
  padding-top: 50px;
  box-shadow: 2px 2px 2px 2px rgba(34, 36, 38, 0.15);
}

.ProfilePic {
  border-radius: 50%;
  border: 5px solid white;
  box-shadow: 2px 2px 2px 2px rgba(34, 36, 38, 0.15);
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.ProfilePic:hover {
    border: 5px solid whitesmoke;
}
.ProfilePic:hover img {
opacity: 0.5;
}

.ProfilePic img {
  height: 130px;
}
.ProfilePicContainer {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.ProfilePicContainer h1 {
  text-shadow: 2px 2px rgba(34, 36, 38, 0.15);
}
.FirstName {
  width: 100px;
}
.JumboPic {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.JumboPic img {
  width: 350px;
}
.ProfileData {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.ProfileMainData {
  height: 80%;
  width: 90%;
  padding: 20px;
  border: 3px solid white;
  color: white;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 2px rgba(34, 36, 38, 0.15);
}
/* .ProfileMainDataSmall {
  height: 28%;
  width: 80%;
  border: 3px solid white;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 2px rgba(34, 36, 38, 0.15);
} */
.field {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: flex-start;
  justify-items: flex-start;
  margin-bottom: 10px;
}
label {
    margin: 5px;
}
.linkField {
    margin: 10px;
    color: black;
    text-decoration: underline;
}
.FieldRow {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.checkboxField {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.checkboxField h3 {
    padding: 0;
    margin: 10px;
}
.FirstNameField,
.LastNameField, .EmailField, .PasswordField {
  width: 80%;
  color: black;
  height: 35px;
  border: 2px solid white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5px;
  border-radius: 12px;
  /* background-color: white; */
  box-shadow: 2px 2px 2px 2px rgba(34, 36, 38, 0.15);
}
