/* BURGER_MENU STYLE */
.wrapper {
  position: relative;
  padding-top: 0.7rem;
  cursor: pointer;
  display: block;
}

.wrapper span {
  background: #333;
  display: block;
  position: relative;
  width: 3.5rem;
  height: 0.4rem;
  margin-bottom: 0.7rem;
  transition: all ease-in-out 0.2s;
}

.wrapper .open span:nth-child(2) {
  opacity: 0;
}

.wrapper .open span:nth-child(3) {
  transform: rotate(45deg);
  top: -11px;
}

.wrapper .open span:nth-child(1) {
  transform: rotate(-45deg);
  top: 11px;
}

/* BRAND STYLE */

.Logo {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  z-index: 100;
}

h1 {
  font-size: 2.5rem;
}

/* COLLAPSE_WRAPPER STYLE */

.CollapseWrapper {
  background: #2d3436;
  position: fixed;
  top: 4.5rem;
  left: 0;
  right: 0;
  z-index: 1000;
}

ul {
  list-style-type: none;
  padding: 2rem 1rem 2rem 2rem;
  height: 40px;
  padding: 0;
  margin-top: 5px;
}

ul li {
  transition: all 300ms linear 0s;
  width: 100%;
  height: 100%;
  position: relative;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
}

ul li a {
  color: black !important;
  font-size: 1.4rem;
  line-height: 2;
  color: #dfe6e9;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

ul.minMenu li a:hover {
  color: #2438f1 !important;
  border-bottom: 1px solid #2438f1;
}

/* NAVBAR STYLE */
.navWrapper {
  z-index: 100;
}

.FlexContainer {
  max-width: 120rem;
  display: flex;
  margin: auto;
  padding: 0 2rem;
  justify-content: space-between;
  height: 5rem;
  z-index: 10;
}

div.BurgerWrapper {
  margin: auto 0;
}

@media (min-width: 769px) {
  div.BurgerWrapper {
    display: none;
  }

  ul.minMenu {
    display: none;
  }
}

@media (max-width: 768px) {
  ul div.DropMenu {
    display: none
  }

}