#container {
    margin: 8rem 12rem;
    background: #fff;
    height: 297mm;
    width: 210mm;
}

.header-inner {
    display: flex;
}

.photo {
    margin: 19px 10px 0 20px;
}

.profile-photo {
    border-radius: 50%;
    border: 3px solid #3dbaf7;
}

.introduction {
    width: 100%;
    margin-left: 10px;
    margin-bottom: 3px;
}

.name {
    padding-top: 15px;
    font-size: 2rem;
}

.title {
    font-size: 1.3rem;
    color: #3dbaf7;
}

.summary {
    font-size: 0.8rem;
    margin-right: 30px;
}

input {
    outline: none;
}

textarea {
    outline: none;
    overflow: auto;
    resize: none;
    font-family: 'Work Sans', sans-serif;
}

.contact {
    background-color: #d3d3d382;
    margin-bottom: 15px;
    padding-left: 37.5px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70px;
}

.contact-row-1,
.contact-row-2,
.contact-row-3 {
    display: flex;
    flex: 0 50%;
}

.contact-row-1 {
    margin-top: 7px;
}

.contact-1,
.contact-2,
.contact-3,
.contact-4,
.contact-5,
.contact-6 {
    flex-grow: 1;
    flex: 0 50%;
}

.user-contact {
    margin-left: 5px;
}

.wrap {
    display: flex;
    padding-left: 37.5px;
    padding-right: 27px;
}

.left {
    width: 100%;
}

.education {
    margin-bottom: 15px;
}

.education-label {
    margin-bottom: 5px;
    color: #3dbaf7;
}

.subject,
.role {
    font-weight: bold;
    width: -webkit-fill-available;
    font-size: 1rem;
}

.institution,
.company {
    font-size: 1rem;
    width: -webkit-fill-available;
}

.time-loc {
    display: flex;
    justify-content: space-between;

}

.period {
    color: grey;
    font-style: italic;
    font-size: 12px;
}

.education-group,
.experience-group {
    margin-bottom: 16.5px;
}

.experience {
    margin-bottom: 15px;
}

.experience-label {
    margin-bottom: 5px;
    color: #3dbaf7;
}

.time-loc {
    display: flex;
    justify-content: space-between;
    color: grey;
    font-style: italic;
    font-size: 12px;
    margin-bottom: 3px;
}

.achiev-task {
    color: grey;
    font-style: italic;
    font-size: 12px;
    margin-bottom: 3px;
}

.task-ul {
    padding-inline-start: 15px;
}

.task-list {
    font-size: 0.8rem;
    margin-right: 5px;
    width: -webkit-fill-available;
}

.right {
    width: 100%;
    padding-left: 37.5px;
    padding-right: 27px;
}

.skills {
    margin-bottom: 5px;
}

.skills-label {
    margin-bottom: 5px;
    color: #3dbaf7;
}

.skill-boxes {
    display: flex;
    flex-wrap: wrap;
}

.skill-box {
    display: flex;
    padding: 12px;
    align-items: center;
    color: #3dbaf7;
    margin-top: 15px;
    -left: 5px;
    height: 20px;
    float: left;
    margin: 10px 5px 0px 0px;
    border-radius: 5px;
    background: #3dbaf7;
    color: #fff;
    font-size: 0.8rem;
}

.projects-label {
    margin-bottom: 7px;
    color: #3dbaf7;
    margin-top: 15px;
}

.project-title {
    font-size: 15px;
}

.project-ul {
    list-style: none;
}

.project-list {
    font-size: 12px;
    margin-bottom: 15px;
    width: -webkit-fill-available;
}

.cert {
    margin-bottom: 15px;
}

.cert-label {
    margin-bottom: 5px;
    color: #3dbaf7;
    margin-top: 15px;
}

.cert-group {
    font-size: 12px;
}

.achiev {
    margin-bottom: 15px;
}

.achiev-label {
    margin-bottom: 5px;
    color: #3dbaf7;
    margin-top: 15px;
}

.achiev-group {
    font-size: 12px;
}

.lang {
    margin-bottom: 15px;
}

.lang-label {
    margin-bottom: 5px;
    color: #3dbaf7;
    margin-top: 15px;
}

.lang-body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.lang-group {
    font-size: 12px;
    flex: 0 50%;
}

.lang-header {
    margin-bottom: 3px;
}

.lang-level {
    color: #3dbaf7;
    font-style: italic;
    font-size: 10px;
    margin-bottom: 7px;
}