/* ================== GLOBAL STYLE ================== */
#container {
    margin: 8rem 12rem;
    background: #fff center center;
    height: 297mm;
    width: 210mm;
}

input {
    outline: none;
    font-family: 'Work Sans', sans-serif;
}

textarea {
    outline: none;
    overflow: auto;
    resize: none;
    font-family: 'Work Sans', sans-serif;
}

.wrap {
    display: flex;
    padding-left: 37.5px;
    padding-right: 27px;
}

.left {
    width: 100%;
}

.right {
    width: 100%;
    padding-left: 37.5px;
    padding-right: 27px;
}

.editableDiv {
    max-width: "22em";
    word-break: "break-word";
}

.dateDivider {
    margin: 0 5px;
}

.monthSpan:empty:before,
.yearSpan:empty:before,
.place:empty:before,
.taskSpan:empty:before,
.roleSpan:empty:before,
.companySpan:empty:before,
.titleSpan:empty:before,
.summarySpan:empty:before,
.studyProgramSpan:empty:before,
.institutionSpan:empty:before,
.projectTitleSpan:empty:before,
.projectDescSpan:empty:before,
.certificationTitleSpan:empty:before,
.achievementDescSpan:empty:before,
.langHeaderSpan:empty:before {
    color: #808080;
    display: block;
    border-bottom: 1px dotted #808080;
    font-style: italic;
}

.section-label {
    margin-bottom: 5px;
    color: #3dbaf7;
    font-weight: 600;
    font-size: 1.2rem;
}

/* ==================================================== */
/* ================== HEADER SECTION ================== */
/* ==================================================== */
.header-inner {
    display: flex;
}

.photo {
    margin: 19px 10px 0 20px;
}

.profile-photo {
    border-radius: 50%;
    border: 1px solid gray;
}

.editableHeaderDiv {
    max-width: "38em";
}

.title {
    margin: -5px 0 5px 0;
}

.introduction {
    width: 100%;
    margin-left: 10px;
    margin-bottom: 3px;
}

.name {
    padding-top: 15px;
    font-size: 2rem;
}

.titleDiv {
    max-width: 640px;

}

.titleSpan {
    font-size: 1.3rem;
    color: #414242;
}

*:focus {
    outline: none;
}

.titleSpan:empty:before {
    content: "Professional title";
    border-bottom: none;
}

.titleSpan:empty:hover:before {
    border-bottom: 1px solid blue;
    max-width: 8em;
}

.summarySpan {
    padding-top: 5px;
    font-size: 0.8rem;
    max-width: inherit;
}

.summarySpan:empty:before {
    content: "Short engaging pitch about yourself";
    border-bottom: none;
}

.summarySpan:empty:hover:before {
    border-bottom: 1px solid blue;
    max-width: 17em;
}

/* ==================================================== */
/* ================== CONTACT SECTION ================== */
/* ==================================================== */
.contact {
    background-color: #d3d3d382;
    margin-bottom: 15px;
    padding-left: 37.5px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90px;
}

.contact-row-1,
.contact-row-2,
.contact-row-3 {
    display: flex;
    flex: 0 50%;
    margin-top: 10px;
}

.contact-row-3 {
    margin-bottom: 10px;
}

.contact-1,
.contact-2,
.contact-3,
.contact-4,
.contact-5,
.contact-6 {
    flex-grow: 1;
    flex: 0 50%;
}

.iconeColor {
    color: #3dbaf7;
}

.user-contact {
    margin-left: 5px;
}

/* .userEmailSpan {
    font-size: 0.7rem;
} */

.userEmailSpan:empty:before {
    content: 'E-mail';
    color: rgb(61, 58, 58);
}

.userEmailSpan:empty:hover:before {
    border-bottom: 1px solid blue;
    max-width: 5em;
}

.userSkypeSpan:empty:before {
    content: 'Skype';
    color: rgb(61, 58, 58);
}

.userSkypeSpan:empty:hover:before {
    border-bottom: 1px solid blue;
    max-width: 8em;
}

.userSiteSpan:empty:before {
    content: 'Website';
    color: rgb(61, 58, 58);
}

.userSiteSpan:empty:hover:before {
    border-bottom: 1px solid blue;
    max-width: 8em;
}

.userAddressSpan:empty:before {
    content: 'Address';
    color: rgb(61, 58, 58);
}

.userAddressSpan:empty:hover:before {
    border-bottom: 1px solid blue;
    max-width: 8em;
}

.userPhoneSpan:empty:before {
    content: 'Phone';
    color: rgb(61, 58, 58);
}

.userPhoneSpan:empty:hover:before {
    border-bottom: 1px solid blue;
    max-width: 8em;
}

.userGitHubSpan:empty:before {
    content: 'GitHub';
    color: rgb(61, 58, 58);
}

.userGithubSpan:empty:hover:before {
    border-bottom: 1px solid blue;
    max-width: 8em;
}

/* ==================================================== */
/* ================== EDUCATION SECTION ================== */
/* ==================================================== */
.education {
    margin-bottom: 15px;
}

.subject,
.role {
    font-weight: bold;
    width: -webkit-fill-available;
    font-size: 1rem;
}

.monthSpan:empty:before {
    content: "mm";
}

.institution,
.company {
    font-size: 1rem;
    width: -webkit-fill-available;
}

.time-loc {
    display: flex;
    justify-content: space-between;
}

.period {
    color: grey;
    font-style: italic;
    font-size: 0.7rem;
    display: flex;
}

.place {
    color: grey;
    font-style: italic;
    font-size: 0.7rem;
    text-align: end;
}

.education-group,
.experience-group,
.project-group,
.cert-group,
.skills-body,
.achiev-group {
    margin-bottom: 16.5px;
}

.studyProgramSpan {
    font-weight: bold;
}

.studyProgramSpan:empty:before {
    content: "Study Program";
    font-weight: bold;
}

.institutionSpan:empty:before {
    content: "Institution / Place of education";
}

/* ==================================================== */
/* ================== EXPERIENCE SECTION ================== */
/* ==================================================== */
.experience {
    margin-bottom: 15px;
}

.achiev-task {
    color: grey;
    font-style: italic;
    font-size: 0.7rem;
    margin-bottom: 3px;
}

.task-ul {
    padding-inline-start: 0;
}

li {
    list-style: none;
}

.task-list {
    font-size: 0.8rem;
    margin-right: 5px;
    width: -webkit-fill-available;
    word-break: break-all;
}

.taskSpan {
    font-size: 0.8em;
}

.taskSpan::before {
    content: '- ';
}

.taskSpan:empty {
    position: relative;
}

.roleSpan {
    font-size: 1em;
    font-weight: bold;
}

.companySpan {
    font-size: 1em;
}

.monthSpan:empty:before {
    content: "mm";
}

.yearSpan:empty:before {
    content: "yyyy";
}

.place:empty:before {
    content: "City, Country";
}

.taskSpan:empty:before {
    content: "- Accomplishment/Responsability/Task";
}

.roleSpan:empty:before {
    content: "Title / Position";
    font-weight: bold;
}

.companySpan:empty:before {
    content: "Company / Workplace";
}

/* ==================================================== */
/* ================== TIME-LOC SECTION ================== */
/* ==================================================== */
.time-loc {
    display: flex;
    justify-content: space-between;
    color: grey;
    font-style: italic;
    font-size: 0.7rem;
    margin-bottom: 3px;
}


/* ==================================================== */
/* ================== SKILLS SECTION ================== */
/* ==================================================== */
.skills {
    margin-bottom: 5px;
}

.skills-label {
    margin-bottom: 5px;
    color: #3dbaf7;
}

.skill-boxes {
    display: flex;
    flex-wrap: wrap;
}

.skill-box {
    display: flex;
    padding: 12px;
    align-items: center;
    color: #3dbaf7;
    margin-top: 15px;
    -left: 5px;
    height: 20px;
    float: left;
    margin: 10px 5px 0px 0px;
    border-radius: 5px;
    background: #3dbaf7;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 600;
}

.skillTextSpan:empty:before {
    content: 'Skill'
}

/* ==================================================== */
/* ================== PROJECTS SECTION ================== */
/* ==================================================== */
/* .projects-label {
    margin-bottom: 7px;
    color: #3dbaf7;
    margin-top: 15px;
} */

.projectTitleSpan {
    font-size: 0.9rem;
    font-weight: bold;
}

.projectTitleSpan:empty:before {
    content: 'Project name';
    font-weight: bold
}

.projectDescSpan {
    font-size: 0.8rem;
    /* padding-bottom: 30px;margin */
}

.projectDescSpan:empty:before {
    content: 'Short description of the project';
}

.project-ul {
    list-style: none;
}

/* .project-list {
    font-size: 0.7rem;
    margin-bottom: 15px;
    width: -webkit-fill-available;
} */

/* ==================================================== */
/* ================== CERTIFICATION SECTION ================== */
/* ==================================================== */
.cert {
    margin-bottom: 15px;
}

/* .cert-label {
    margin-bottom: 5px;
    color: #3dbaf7;
    margin-top: 15px;
} */

.cert-group {
    font-size: 0.8rem;
}

.certificationTitleSpan {
    /* font-size: 0.7rem; */
    margin-bottom: 15px;
}

.certificationTitleSpan:empty:before {
    content: 'Certification title';
}

/* ==================================================== */
/* ================== ACHIEVEMENTS SECTION ================== */
/* ==================================================== */
/* .achiev {
    margin-bottom: 15px;
} */

/* .achiev-label {
    margin-bottom: 5px;
    color: #3dbaf7;
    margin-top: 15px;
} */

.achiev-group {
    font-size: 0.8rem;
}

.achievementDescSpan:empty:before {
    content: 'Achievement description';
}

/* ==================================================== */
/* ================== LANGUAGES SECTION ================== */
/* ==================================================== */
.lang {
    margin-bottom: 15px;
}

/* .lang-label {
    margin-bottom: 5px;
    color: #3dbaf7;
    margin-top: 15px;
} */

.lang-body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.lang-group {
    font-size: 0.8rem;
    flex: 0 50%;
    margin-bottom: 10px;
}

.language {
    display: flex;
    flex-direction: column;
}

.langHeaderSpan {
    margin-bottom: 3px;
}

.langHeaderSpan:empty:before {
    content: 'Language';
    border-bottom: none;
}

.langLevelSpan {
    font-style: italic;
    font-size: 0.7rem;
    margin-bottom: 7px;
    color: #3dbaf7;
}

.langLevelSpan:empty:before {
    content: 'Level';
    display: block;
    font-style: italic;
}