/* Main Menu Section */
.menu {
    width: 100%;
    height: 60px;
    background: linear-gradient(to left, #3dbaf7, #1d3b8b);
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 20px;
    color: #fff;
    position: fixed;
    top: 0;
}

.design {
    padding-left: 120px;
}

.utilities,
.download,
.my-documents,
.template-menu {
    padding-left: 80px;
}

.tool-label {
    font-size: 0.6rem;
    font-style: italic;
}

.first-icon {
    font-size: 1.1rem;
    color: #fff;
}

.tool-icon {
    font-size: 1rem;
}

.template-icon {
    width: 0.8rem;
    height: 0.8rem;
}

.template-icon:hover {
    color: rgb(43, 181, 185);
}

.tool-desc {
    padding-left: 5px;
    font-size: 0.8rem;
}

.font-btn,
.theme-btn,
.layout-btn,
.template-btn,
.back-btn,
.fwd-btn,
.my-docs-btn,
.template-menu-btn {
    background-color: #ffff0000;
    color: #fff;
}

.theme-btn,
.layout-btn,
.template-btn,
.fwd-btn {
    margin-left: 20px;
}

.font-btn:hover,
.theme-btn:hover,
.layout-btn:hover,
.template-btn:hover,
.back-btn:hover,
.fwd-btn:hover {
    cursor: pointer;
    color: rgb(43, 181, 185);
}

.font-btn:hover {}

.download-btn {
    height: 60px;
    background-color: #2bb5b963;
}

.download-btn:hover {
    background-color: #2bb5b99e;
    cursor: pointer;
}

.my-docs-btn:hover {
    border-bottom: 1px solid #fff;
    cursor: pointer;
}

.template-menu-btn:hover {
    cursor: pointer;
}

.font-btn:focus,
.theme-btn:focus,
.layout-btn:focus,
.template-btn:focus,
.back-btn:focus,
.fwd-btn:focus,
.download-btn:focus,
.my-docs-btn:focus,
.template-menu-btn:focus {
    outline: none;
}

.tool-download {
    font-size: 0.9rem;
    font-weight: bold;
    color: #fff;
}

.tool-mydoc {
    font-size: 0.9rem;
    font-weight: bold;
}

.temp-menu {
    display: flex;
    flex-direction: column;
}

.tool-menu-bar {
    font-size: x-large;
    height: 8px;
}

.last-bar {
    margin-bottom: 25px;
}

/* ========================================= */
/* Sub Nav Section */
/* ========================================= */

.fontSubNav {
    position: fixed;
    background: #2b3a42;
    top: 65px;
    width: 170px;
    height: 290px;
    border-radius: 10px;
    text-align: center;
    font-size: 0.9rem;
    box-shadow: -5px 0 20px 5px rgba(0, 0, 0, .5);
    display: block;
}

.fontFamilyDiv {
    padding: 13px;
}

.fontLists {
    list-style: none;
    padding: 0;
    line-height: 33px;
}

.openSansLi:hover,
.quickSandLi:hover,
.ubuntuLi:hover,
.hindLi:hover,
.kuraLi:hover,
.robotLi:hover,
.merryLi:hover,
.ralewayLi:hover {
    cursor: pointer;
    color: rgb(43, 181, 185);
}

.openSansLi {
    font-family: 'Open Sans', sans-serif;
}

.quickSandLi {
    font-family: 'Quicksand', sans-serif;
}

.ubuntuLi {
    font-family: 'Ubuntu', sans-serif;
}

.robotLi {
    font-family: 'Roboto Condensed', sans-serif;
}

.merryLi {
    font-family: 'Merriweather', sans-serif;
}

.hindLi {
    font-family: 'Hind', sans-serif;
}

.ralewayLi {
    font-family: 'Raleway', sans-serif;
}

.kuraLi {
    font-family: 'Kurale', sans-serif;
}