.menu {
    width: 100%;
    height: 60px;
    background: linear-gradient(to left, #3dbaf7, #1d3b8b);
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 20px;
    color: #fff;
    position: fixed;
    top: 0;
}

.design {
    padding-left: 120px;
}

.utilities,
.download,
.my-documents,
.template-menu {
    padding-left: 80px;
}

.tool-label {
    font-size: 0.6rem;
    font-style: italic;
}

.tool-icon:not(:first-child) {
    padding-left: 1.5rem;
    font-size: 1.1rem;
}

.first-icon {
    font-size: 1.1rem;
    color: #fff;
}

.template-icon {
    width: 0.8rem;
    height: 0.8rem;
}

.template-icon:hover {
    color: rgb(43, 181, 185);
}

.tool-desc {
    padding-left: 5px;
    font-size: 0.8rem;
}

.font-btn,
.theme-btn,
.layout-btn,
.template-btn,
.back-btn,
.fwd-btn,
.my-docs-btn,
.template-menu-btn {
    background-color: #ffff0000;
    color: #fff;
}

.theme-btn,
.layout-btn,
.template-btn,
.fwd-btn {
    margin-left: 20px;
}

.font-btn:hover,
.theme-btn:hover,
.layout-btn:hover,
.template-btn:hover,
.back-btn:hover,
.fwd-btn:hover {
    /* border-bottom: 1px solid #fff; */
    cursor: pointer;
    color: rgb(43, 181, 185);
}

.download-btn {
    height: 60px;
    background-color: #2bb5b963;
}

.download-btn:hover {
    background-color: #2bb5b99e;
    cursor: pointer;
}

.my-docs-btn:hover {
    border-bottom: 1px solid #fff;
    cursor: pointer;
}

.template-menu-btn:hover {
    cursor: pointer;
}

.font-btn:focus,
.theme-btn:focus,
.layout-btn:focus,
.template-btn:focus,
.back-btn:focus,
.fwd-btn:focus,
.download-btn:focus,
.my-docs-btn:focus,
.template-menu-btn:focus {
    outline: none;
}

.tool-download {
    font-size: 0.9rem;
    font-weight: bold;
    color: #fff;
}

.tool-mydoc {
    font-size: 0.9rem;
    font-weight: bold;
}



.brush-icon {
    color: #fff;
}

.temp-menu {
    display: flex;
    flex-direction: column;
}

.tool-menu-bar {
    font-size: x-large;
    height: 8px;
}

.last-bar {
    margin-bottom: 25px;
}