/* ================== GLOBAL STYLE ================== */
.alignContainer {
  display: flex;
  align-items: center;
  background-color: #2b3a42;
  flex-direction: column;
  min-width: 700px;
  width: 100%;
}

#containerA4 {
  margin: 8rem 12rem 0 12rem;
  background: #fff center center;
  height: 297mm;
  width: 210mm;
  /* pagination effect */
  /* box-shadow: */
  /* The top layer shadow */
  /* 0 -1px 1px rgba(0, 0, 0, 0.15), */
  /* The second layer */
  /* 0 -10px 0 -5px #eee, */
  /* The second layer shadow */
  /* 0 -10px 1px -4px rgba(0, 0, 0, 0.15), */
  /* The third layer */
  /* 0 -20px 0 -10px #eee, */
  /* The third layer shadow */
  /* 0 -20px 1px -9px rgba(0, 0, 0, 0.15); */
  padding-top: 0;
}

.containerA41>.A4ContentWrap,
.containerA42>.A4ContentWrap,
.containerA43>.A4ContentWrap {
  padding-top: 25px;
}

.A4ContentWrap {
  display: flex;
  padding: 0;
}

.left {
  width: 100%;
}

.right {
  width: 100%;
}

.editableDiv {
  max-width: "2em";
  word-break: "break-word";
}

.dateDivider {
  margin: 0 5px;
}

.section-label {
  margin-bottom: 5px;
  color: #3dbaf7;
  font-weight: 600;
  font-size: 1.2rem;
}

*:focus {
  outline: none;
}

/* ==================================================== */
/* ================== SECTION MENU ================== */
/* ==================================================== */
.sectionsMenuDiv {
  background: #2b3a42;
  width: 140px;
  height: 30px;
  border-radius: 8px;
  text-align: center;
  font-size: 0.9rem;
  box-shadow: -2px 0 8px 3px rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
}

.skillsMenuDiv {
  position: absolute;
  bottom: 30px;
  left: 0px;
}

.languageMenuDiv {
  position: absolute;
  bottom: 50px;
  left: 0px;
}

.deleteIcon {
  color: #fff;
  cursor: pointer;
}

.deleteIcon:hover {
  color: tomato;
}

.angleIcon {
  color: #fff;
  cursor: pointer;
  font-size: 1.5rem;
}

.addIcon {
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
}

.addIcon:hover,
.angleIcon:hover {
  color: #3dbaf7;
}

/* ==================================================== */
/* ================== HEADER SECTION ================== */
/* ==================================================== */
.header-inner {
  display: flex;
  padding: 20px;
}

.header-inner-professional {
  display: grid;
  grid-template-columns: 1fr;
  padding: 20px;
}

.header-inner-photo {
  display: grid;
  grid-template-columns: 1fr 0.6fr;
  padding: 20px 0 20px 20px;
}

.header-grid {
  display: grid;
  grid-template-columns: 1.6fr 1fr;
}

.photo {
  margin: 0 10px 0 20px;
}

.photoProfessional {
  text-align: end;
}

.profile-photo {
  border-radius: 50%;
  border: 1px solid gray;
}

.introduction {
  width: 100%;
  margin-left: 10px;
  margin-right: 2rem;
  margin-bottom: 3px;
}

.name {
  padding-top: 0;
  font-size: 2rem;
}

.CvTitle {
  font-size: 1.3rem;
  margin-top: -0.2rem;
  margin-bottom: 5px;
}

.CvTitle:empty:before {
  content: "Professional title";
  border-bottom: none;
  font-style: italic;
}

.CvTitle:empty:hover:before {
  border-bottom: 1px solid blue;
  max-width: 8em;
}

.hideSection {
  display: none;
}

.summary {
  padding-top: 5px;
  font-size: 0.8rem;
  max-width: inherit;
}

.summary:empty:before {
  content: "Short engaging pitch about yourself";
  border-bottom: none;
}

.summary:empty:hover:before {
  border-bottom: 1px solid blue;
  max-width: 17em;
}

/* ==================================================== */
/* ================== CONTACT SECTION ================== */
/* ==================================================== */
.showContactModal {
  position: absolute;
  background: #2b3a42;
  width: 710px;
  height: 300px;
  border-radius: 22px;
  box-shadow: -2px 0 8px 3px rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  align-items: center;
  color: #fff;
  z-index: 1000;
}

.showContactModalProfessional {
  position: absolute;
  left: 120px;
  background: #2b3a42;
  width: 710px;
  height: 300px;
  border-radius: 22px;
  box-shadow: -2px 0 8px 3px rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  align-items: center;
  color: #fff;
  z-index: 1000;
}

.hideContactModal {
  display: none;
}

.contactModalSaveAndDiscard {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.contactModalTitle {
  font-size: 2rem;
  font-weight: 600;
  text-align: left;
  margin-left: 30px;
}

.saveContactButton {
  width: 90px;
  height: 30px;
  margin: 0;
  background: transparent;
  border: 1px solid #3dbaf7;
  border-radius: 20px;
  color: #fff;
}

.saveContactButton:hover {
  background: #3dbaf7;
}

.contactBox {
  margin: 0 30px;
  font-size: 1.2rem;
  display: flex;
  align-items: baseline;
}

.modalContactIcon {
  margin-right: 10px;
  color: #fff;
}

.contactBox>input[type="email"],
.contactBox>input[type="text"] {
  color: #fff;
  background-color: transparent;
  border-bottom: 1px solid gray;
  padding: 0.7rem;
}

input[type="email"]:focus,
input[type="text"]:focus {
  background-color: transparent;
  color: #fff;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid blue;
  padding: 0.3rem;
}

.contactBox>input[type="email"]:hover,
.contactBox>input[type="text"]:hover {
  background-color: transparent;
  color: #fff;
}

.contactBox>input[type="email"]::placeholder,
.contactBox>input[type="text"]::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: gray;
  opacity: 1;
  /* Firefox */
}

.contact {
  background-color: #d3d3d382;
  padding-left: 37.5px;
  font-size: 12px;
  min-height: 70px;
  display: flex;
  cursor: pointer;
}

.contact-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row;
  align-items: center;
  justify-items: start;
  width: 100%;
}

/* for professional template */
.contact-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-end;
  justify-items: end;
  width: 100%;
  height: 34%;
  padding-top: 25px;
}

.contactGroup {
  padding-top: 5px;
}

/* for professional template */
.contactGroupProfessional {
  flex-grow: 1;
  flex: 0 1 50%;
  padding: 5px 20px 5px 0;
}

.icone {
  display: flex;
  flex-direction: row-reverse;
}

.iconeColor {
  color: #3dbaf7;
  display: flex;
  align-items: center;
}

.user-contact {
  margin-left: 5px;
}

.userEmail:empty:hover:before {
  border-bottom: 1px solid blue;
  max-width: 5em;
}

.userSkype:empty:before {
  content: "Skype";
  color: rgb(61, 58, 58);
}

.userSkype:empty:hover:before {
  border-bottom: 1px solid blue;
  max-width: 8em;
}

.userSite:empty:before {
  content: "Website";
  color: rgb(61, 58, 58);
}

.userSite:empty:hover:before {
  border-bottom: 1px solid blue;
  max-width: 8em;
}

.userAddress:empty:before {
  content: "Address";
  color: rgb(61, 58, 58);
}

.userAddress:empty:hover:before {
  border-bottom: 1px solid blue;
  max-width: 8em;
}

.userPhone:empty:before {
  content: "Phone";
  color: rgb(61, 58, 58);
}

.userPhone:empty:hover:before {
  border-bottom: 1px solid blue;
  max-width: 8em;
}

.userGitHub:empty:before {
  content: "GitHub";
  color: rgb(61, 58, 58);
}

.userGithub:empty:hover:before {
  border-bottom: 1px solid blue;
  max-width: 8em;
}

/* ==================================================== */
/* ================== EDUCATION SECTION ================== */
/* ==================================================== */

.education-group,
.experience-group,
.project-group,
.cert-group,
.skills-body,
.achiev-group {
  margin-bottom: 16.5px;
}

.studyProgram {
  font-weight: bold;
}

.studyProgram:empty:before {
  content: "Study Program";
  font-weight: bold;
}

.institution:empty:before {
  content: "Institution / Place of education";
}

.sectionHeader {
  display: flex;
  justify-content: space-between;
}

/* ==================================================== */
/* ================== EXPERIENCE SECTION ================== */
/* ==================================================== */

.achiev-task {
  color: grey;
  font-style: italic;
  font-size: 0.7rem;
  margin-bottom: 3px;
}

.task {
  font-size: 0.8em;
}

.task:empty {
  position: relative;
}

.role {
  font-size: 1em;
  font-weight: bold;
}

.CvCompany {
  font-size: 1em;
}

.task:empty:before {
  content: "- Accomplishment/Responsability/Task";
}

.role:empty:before {
  content: "Title / Position";
  font-weight: bold;
}

.CvCompany:empty:before {
  content: "Company / Workplace";
  font-style: italic;
}

/* ==================================================== */
/* ================== TIME-LOC SECTION ================== */
/* ==================================================== */
.time-loc {
  display: flex;
  justify-content: space-between;
  color: grey;
  font-style: italic;
  font-size: 0.7rem;
  margin-bottom: 3px;
}

.period {
  color: grey;
  font-style: italic;
  font-size: 0.7rem;
  display: flex;
}

.place {
  color: grey;
  font-style: italic;
  font-size: 0.7rem;
  text-align: end;
}

.month:empty:before {
  content: "mm";
}

.year:empty:before {
  content: "yyyy";
}

.place:empty:before {
  content: "City, Country";
}

/* ==================================================== */
/* ================== SKILLS SECTION ================== */
/* ==================================================== */


.skills-label {
  margin-bottom: 5px;
  color: #3dbaf7;
}

.skill-boxes {
  display: flex;
  flex-wrap: wrap;
}

.skill-box {
  display: flex;
  padding: 12px;
  align-items: center;
  height: 5px;
  float: left;
  margin: 5px 5px 0px 0px;
  border-radius: 7px;
  background: #3dbaf7;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 600;
}

.skillText:empty:before {
  content: "Skill";
}

/* ==================================================== */
/* ================== PROJECTS SECTION ================== */
/* ==================================================== */

.projectTitle {
  font-size: 0.9rem;
  font-weight: bold;
}

.projectTitle:empty:before {
  content: "Project name";
  font-weight: bold;
}

.projectDesc {
  font-size: 0.8rem;
}

.projectDesc:empty:before {
  content: "Short description of the project";
}

/* ==================================================== */
/* ================== CERTIFICATION SECTION ================== */
/* ==================================================== */

.cert-group {
  font-size: 0.8rem;
}

.certificationTitle {
  margin-bottom: 15px;
}

.certificationTitle:empty:before {
  content: "Certification title";
}

/* ==================================================== */
/* ================== ACHIEVEMENTS SECTION ================== */
/* ==================================================== */

.achiev-group {
  font-size: 0.8rem;
}

.achievementDesc:empty:before {
  content: "Achievement description";
}

/* ==================================================== */
/* ================== LANGUAGES SECTION ================== */
/* ==================================================== */

.lang {
  margin-bottom: 15px;
}

.lang-body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.lang-group {
  font-size: 0.8rem;
  flex: 0 50%;
  margin-bottom: 10px;
}

.language {
  display: flex;
  flex-direction: column;
}

.langHeader {
  margin-bottom: 3px;
}

.langHeader:empty:before {
  content: "Language";
  border-bottom: none;
}

.langLevel {
  font-style: italic;
  font-size: 0.7rem;
  margin-bottom: 7px;
  color: #3dbaf7;
}

.langLevel:empty:before {
  content: "Level";
  display: block;
  font-style: italic;
}