.Section_2_Main_Container {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.Section_2_Main_Container .S2_TextContainer {
  width: 65%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 5%;
}

.Section_2_Main_Container .S2_TextContainer h2 {
  font-size: 5rem;
  margin: 0 3%;
  align-self: flex-start;
}

.Section_2_Main_Container .S2_TextContainer p {
  margin: 0 3%;
  font-size: 2rem;
}

.S2_Img_Container {
  height: 80%;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.S2_Img_Container img {
  width: 400px;
}
