.FormContainer {
    background: linear-gradient(to left, #3dbaf7, #1d3b8b);
    border-radius: 20px;
    margin-top: 80px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    color: white;
}

.FormContainer h1 {
    text-align: center;
    font-weight: 300;
    font-size: 500%;
    margin: 20px;
}

.FormContainer p {
    width: 60%;
    text-align: center;
}

form {
    width: 60%;
}

form label {
    margin-top: 20px;
    margin-bottom: 5px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

button {
    border: #1d3b8b;
    background: #1d3b8b;
    color: white;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 100%;
}

button:focus {
    outline: none;
}