/* ================== GLOBAL STYLE ================== */
.alignContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    width: 892.5px;
    min-height: 1263px !important;
    background: #fff center center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10rem;
}

.editableDiv {
    max-width: "22em";
    word-break: "break-word";
}

.title:empty:before,
.to:empty:before,
.company:empty:before,
.editDate:empty:before,
.coverLetterBody:empty:before {
    color: #808080;
    display: block;
    font-style: italic;
}

*:focus {
    outline: none;
}

/* ==================================================== */
/* ================== HEADER SECTION ================== */
/* ==================================================== */
.header-wrap {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-left: 15px;
}

.header-wrap-prof {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-left: 0;
}

.professionalStyling {
    background: #3dbaf7;
    color: #fff;
    margin-top: 2.5rem;
    padding-left: 3rem;
    padding-right: 2rem;
}

.header-inner {
    display: flex;
}

.header-inner-prof {
    display: flex;

}

.introductionCover {
    width: 100%;
    margin-left: 2rem;
    margin-bottom: 3px;
}

.introductionCoverProf {
    width: 100%;
    margin-left: 0;
    margin-bottom: 3px;
}

.title {
    font-size: 1.3rem;
    color: #414242;
    margin-bottom: 1.5rem;
    margin-top: 5px;
}

.titleProf {
    font-size: 1.3rem;
    color: #fff;
    margin-bottom: 0.5rem;
    padding-bottom: 1rem;
    margin-top: 5px;
}

.coverLetterName {
    padding-top: 2rem;
    font-size: 2rem;
}


.title:empty:before {
    content: "Professional title";
    border-bottom: none;
}

.title:empty:hover:before {
    border-bottom: 1px solid blue;
    max-width: 8em;
}

.to {
    padding-top: 5px;
    font-size: 0.8rem;
    max-width: inherit;
    font-style: italic;
}

.to:empty:before {
    content: "To";
    border-bottom: none;
    font-style: none;
}

.company {
    padding-top: 5px;
    font-size: 1.3rem;
    max-width: inherit;
    font-weight: bold;
}

.company:empty:before {
    content: "Company Details";
    border-bottom: none;
    color: black;
}

.company:empty:hover:before {
    border-bottom: 1px solid blue;
    max-width: 17em;
}

.editDate {
    padding-top: 5px;
    font-size: 1.3rem;
    max-width: inherit;
    font-style: italic;
    color: #414242;
}

/* ==================================================== */
/* ================== CONTACT SECTION ================== */
/* ==================================================== */
.coverLetterContact {
    padding-right: 37.5px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    cursor: pointer;
}

.contactCoverGroup {
    flex-grow: 1;
    flex: 0 50%;
    padding-bottom: 5px;
}

.iconeColor {
    color: #3dbaf7;
}

.user-contact {
    margin-right: 10px;
}

/* =========================================================== */
/* ================== CONTACT MODAL SECTION ================== */
/* =========================================================== */
.showCoverModal {
    position: absolute;
    background: #2b3a42;
    width: 710px;
    height: 300px;
    left: 110px;
    border-radius: 22px;
    box-shadow: -2px 0 8px 3px rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    align-items: center;
    color: #fff;
    z-index: 1000;
}


/* ==================================================== */
/* ================== BODY SECTION ================== */
/* ==================================================== */
.cover-letter-body-wrapper {
    width: 100%;
}

.cover-letter-body {
    width: 100%;
    margin-top: 30px;
    border: 1px solid black;
    min-height: 50px;
}

.bodyCoverDiv {
    margin: 10px;
}

.coverLetterBody {
    padding-top: 5px;
    font-size: 0.9rem;
    color: black;
}

.coverLetterBody:empty:before {
    color: black;
    border-bottom: none;
}

.wrap {
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;

}

.editableDiv {
    max-width: "22em";
    word-break: "break-word";
}

.signatureDiv {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    margin-left: 7px;
}

.coverLetterRegards {
    font-size: 0.9rem;
    color: black;
}

.coverLetterRegards:empty:before {
    content: "Best Regards,";
    color: black;
    border-bottom: none;
}

.coverLetterSignature {
    font-size: 0.9rem;
    color: black;
}

.coverLetterSignature:empty:before {
    content: "FULL NAME";
    border-bottom: none;
}

.coverLetterName:empty:before {
    content: "FULL NAME";
}

.hideSection {
    display: none;
}