/* Main Menu Section */

.CvMenuWrapper {
  z-index: 5000;
}

/* .education-body {
  height: 100%!important;
} */
.CoverMenu {
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, #3dbaf7, #1d3b8b);
  font-size: 28px;
  display: grid;
  grid-template-columns: 1fr 3.5fr 1fr 1fr 1fr;
  align-items: center;
  /* padding-left: 20px; */
  color: #fff;
}

.template-menu {
  display: flex;
  justify-content: center;
}

.logo-template {
  color: #fff;
}

.tool-label {
  font-size: 0.7rem;
  font-style: italic;
}

.tools {
  display: flex;
  text-align: right;
  align-items: center;
}

.first-icon {
  font-size: 1.1rem;
  color: #fff;
}

.tool-icon {
  font-size: 1.1rem;
  padding: 0 5px;
}

.template-icon {
  width: 0.8rem;
  height: 0.8rem;
}

.template-icon:hover {
  color: rgb(43, 181, 185);
}

.tool-desc {
  padding-left: 5px;
  font-size: 1rem;
}

.font-btn,
.theme-btn,
.coverLayout-btn,
.template-btn,
.back-btn,
.fwd-btn,
.my-docs-btn,
.template-menu-btn {
  background-color: #ffff0000;
  color: #fff;
}

.theme-btn,
.coverLayout-btn,
.template-btn,
.fwd-btn {
  margin-left: 20px;
}

.my-docs-btn:hover,
.font-btn:hover,
.theme-btn:hover,
.coverLayout-btn:hover,
.template-btn:hover,
.back-btn:hover,
.fwd-btn:hover {
  cursor: pointer;
  color: rgb(43, 181, 185);
}

.font-btn {
  padding-left: 0;
}

.download {
  text-align: center;
}

.download-btn {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgray;
  border-top: none;
  border-bottom: none;
}

.download-btn:hover {
  background-color: #2bb5b99e;
  cursor: pointer;
}

.downloadDiv,
.my-documents {
  display: flex;
  align-items: center;
  justify-content: center;
}

.template-menu-btn:hover {
  cursor: pointer;
}

.font-btn:focus,
.theme-btn:focus,
.coverLayout-btn:focus,
.template-btn:focus,
.back-btn:focus,
.fwd-btn:focus,
.download-btn:focus,
.my-docs-btn:focus,
.template-menu-btn:focus {
  outline: none;
}

.tool-download {
  font-size: 0.9rem;
  font-weight: bold;
  color: #fff;
}

.tool-mydoc {
  font-size: 0.9rem;
  font-weight: bold;
  width: 100%;
  justify-content: space-around;
  display: flex;
  align-items: center;
}

.temp-menu {
  display: flex;
  flex-direction: column;
}

.tool-menu-bar {
  font-size: x-large;
  height: 8px;
}

.last-bar {
  margin-bottom: 10px;
}

/* ========================================= */
/* Burger menu Section */
/* ========================================= */

.builderNavBurger {
  background: #f0f8ff00;
  text-align: -webkit-center;
}

.builderNavBurger .builderNavSpanBar {
  background: #fff;
  height: 3px;
  margin: 0.5rem 0;
  width: 3rem;
}

.builderNavBurger .open .builderNavSpanBar:nth-child(2) {
  opacity: 0;
}

.builderNavBurger .open .builderNavSpanBar:nth-child(3) {
  transform: rotate(45deg);
  top: -11px;
}

.builderNavBurger .open .builderNavSpanBar:nth-child(1) {
  transform: rotate(-45deg);
  top: 11px;
}

ul.minMenu {
  display: block;
  margin-top: 0;
}

/* ========================================= */
/* Sub Nav Section */
/* ========================================= */

/* font sub-menu */
.fontSubMenu,
.colorSubMenu {
  position: fixed;
  background: #2b3a42;
  top: 65px;
  width: 170px;
  height: 290px;
  border-radius: 10px;
  text-align: center;
  font-size: 0.9rem;
  box-shadow: -5px 0 20px 5px rgba(0, 0, 0, 0.5);
}

.fontFamilyDiv {
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.openSansLi:hover,
.quickSandLi:hover,
.ubuntuLi:hover,
.hindLi:hover,
.kuraLi:hover,
.robotLi:hover,
.merryLi:hover,
.ralewayLi:hover {
  cursor: pointer;
  color: rgb(43, 181, 185);
}

.openSansLi:focus,
.quickSandLi:focus,
.ubuntuLi:focus,
.hindLi:focus,
.kuraLi:focus,
.robotLi:focus,
.merryLi:focus,
.ralewayLi:focus {
  outline: none;
}

.openSansLi,
.quickSandLi,
.ubuntuLi,
.hindLi,
.kuraLi,
.robotLi,
.merryLi,
.ralewayLi {
  background: #2b3a42;
  color: #fff;
  margin: 0;
}

.openSansLi {
  font-family: "Open Sans", sans-serif;
}

.quickSandLi {
  font-family: "Quicksand", sans-serif;
}

.ubuntuLi {
  font-family: "Ubuntu", sans-serif;
}

.robotLi {
  font-family: "Roboto Condensed", sans-serif;
}

.merryLi {
  font-family: "Merriweather", sans-serif;
}

.hindLi {
  font-family: "Hind", sans-serif;
}

.ralewayLi {
  font-family: "Raleway", sans-serif;
}

.kuraLi {
  font-family: "Kurale", sans-serif;
}

/* color sub-menu */
.colorOptionsDiv {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.colorBtn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0.5rem;
  cursor: pointer;
}

.colorBtn:focus {
  outline: none;
}

.yellowBtn {
  background: #ff5e6c;
}

.redBtn {
  background: red;
}

.blackBtn {
  background: #12343b;
}

.blueBtn {
  background: blue;
}

.greenBtn {
  background: #479099;
}

.orangeBtn {
  background: #7c677f;
}

.purpleBtn {
  background: purple;
}

.tomatoBtn {
  background: tomato;
}

.brownBtn {
  background: brown;
}

.burlywoodBtn {
  background: #c89666;
}

.cornflowerblueBtn {
  background: cornflowerblue;
}

.aquaBtn {
  background: #2d545e;
}

.darkgreyBtn {
  background: #2dbcad;
}

/* font-size sub-menu */
.fontSizeSubMenu {
  position: fixed;
  background: #2b3a42;
  top: 65px;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  text-align: center;
  font-size: 0.9rem;
  box-shadow: -5px 0 20px 5px rgba(0, 0, 0, 0.5);
}

/* Layout sub-menu */
.coverLayoutSubMenu {
  position: fixed;
  background: #2b3a42;
  top: 65px;
  left: 300px;
  width: 400px;
  height: 65px;
  border-radius: 10px;
  text-align: center;
  font-size: 0.9rem;
  box-shadow: -5px 0 20px 5px rgba(0, 0, 0, 0.5);
}

.headerElements {
  height: 65px;
  border-bottom: 1px solid blue;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 150px;
}

.headerContainer {
  direction: rtl;
  cursor: pointer;
}

.dndSectionP {
  margin-block-start: 0em;
  margin-block-end: 0em;
  display: contents;
}

.coverLetterLabel {
  margin: 20px;
}

/* Hide the browser's default radio button */
.headerContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkMark {
  height: 16px;
  width: 16px;
  background-color: #eee;
  border-radius: 50%;
  margin-right: 10px;
}

/* On mouse-over, add a grey background color */
.headerContainer:hover input~.checkMark {
  background-color: #ccc;
}

.checkedCircle {
  background: #fff;
  border: 4px solid #08dcdc;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 10px;
}

.checkedInput {
  position: relative;
  left: -24.33px;
}

/* Templates sub-menu */
.templatesSubMenu {
  position: fixed;
  background: #2b3a42;
  top: 65px;
  left: 180px;
  width: 800px;
  height: 200px;
  border-radius: 10px;
  text-align: center;
  font-size: 0.9rem;
  box-shadow: -5px 0 20px 5px rgba(0, 0, 0, 0.5);
}

.templatesSubMenuTitle {
  padding-top: 5px;
  color: #d3d3d3b0;
}

.templatesSubMenuCarousel {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.2fr;
  grid-gap: 15px;
  justify-content: space-around;
  padding: 5px 35px 0 35px;
  color: #d3d3d3b0;
}

.coverTemplatesSubMenuModels {
  height: 120px;
  margin-top: 12px;
  cursor: pointer;
}

.modernCoverTemplate,
.basicCoverTemplate,
.professionalCoverTemplate,
.executiveCoverTemplate {
  background-size: 170px 270px, cover;
  border-radius: 5px;
  transition: box-shadow 0.4s;
}

.modernCoverTemplate:hover,
.basicCoverTemplate:hover,
.professionalCoverTemplate:hover,
.executiveCoverTemplate:hover {
  box-shadow: 1px 0 20px 5px rgba(0, 0, 0, 0.5);
}

.modernCoverTemplate {
  background-image: url(../assets/modern-cover-template.jpg);
}

.basicCoverTemplate {
  background-image: url(../assets/basic-cover-template.jpg);
}

.professionalCoverTemplate {
  background-image: url(../assets/professional-cover-template.jpg);
}

.executiveCoverTemplate {
  background-image: url(../assets/executive-cover-template.jpg);
}

.basicCoverTemplate:hover~.basicTitle,
.modernCoverTemplate:hover~.modernTitle,
.professionalCoverTemplate:hover~.professionalTitle,
.executiveCoverTemplate:hover~.executiveTitle {
  color: rgb(0, 195, 255);
}

/* Here starts cv extra tools section */

.CvMenuWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: fixed;
  top: 0;
}

.cvExtraToolsDiv {
  background: #375061;
  height: 2.2rem;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.extra-tools-btn {
  padding-right: 2em;
  background: #375061;
  color: #fff;
  cursor: pointer;
}

.extra-tools-btn:hover {
  color: #2196f3;
}

.extra-tool {
  font-size: 1.2rem;
  font-weight: bold;
}

.italicStyle {
  font-style: italic;
}

.underStyle {
  font-size: 0.9em;
}

.saveUpdateButton {
  margin: 0 !important;
  padding: 0;
  height: 65%;
  color: black;
  width: 8vw;
  margin-left: 10px;
  background: #68ec94ba;
  margin-bottom: 4px;
}

.saveUpdateButton:hover {
  background: #19ee60;
}

@media (max-width: 1096px) {
  .CoverMenu {
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
  }

  .tool-desc {
    display: none;
  }

  .tool-download {
    display: flex;
  }

  #linkedInInput {
    width: 50vw;
  }

  .saveUpdateButton {
    width: 10vw;
  }
}

@media (max-width: 700px) {
  .tool-label {
    display: none;
  }

  .wrapper {
    padding-right: 0;
  }

  .extra-tool {
    font-size: 0.8rem;
  }
}

@media (max-width: 500px) {
  ::placeholder {
    font-size: 12px;
  }

  .saveUpdateButton {
    font-size: 12px;
  }
}