/* Main Menu Section */

.CvMenuWrapper {
  z-index: 5000;
}

/* .education-body {
  height: 100%!important;
} */
.CvMenu {
  width: 100%;
  height: 60px;
  background: linear-gradient(to left, #3dbaf7, #1d3b8b);
  font-size: 28px;
  display: grid;
  grid-template-columns: 1fr 2.5fr 1fr 1fr 1fr;
  align-items: center;
  padding-left: 20px;
  color: #fff;
}

.template-menu {
  display: flex;
  justify-content: center;
}

.logo-template {
  color: #fff;
}

.tool-label {
  font-size: 0.7rem;
  font-style: italic;
}

.tools {
  display: flex;
  text-align: right;
}

.first-icon {
  font-size: 1.1rem;
  color: #fff;
}

.tool-icon {
  font-size: 1.1rem;
}

.template-icon {
  width: 0.8rem;
  height: 0.8rem;
}

.template-icon:hover {
  color: rgb(43, 181, 185);
}

.tool-desc {
  padding-left: 5px;
  font-size: 1rem;
}

.font-btn,
.theme-btn,
.coverLayout-btn,
.template-btn,
.back-btn,
.fwd-btn,
.my-docs-btn,
.template-menu-btn {
  background-color: #ffff0000;
  color: #fff;
}

.theme-btn,
.coverLayout-btn,
.template-btn,
.fwd-btn {
  margin-left: 20px;
}

.font-btn:hover,
.theme-btn:hover,
.coverLayout-btn:hover,
.template-btn:hover,
.back-btn:hover,
.fwd-btn:hover {
  cursor: pointer;
  color: rgb(43, 181, 185);
}

.font-btn {
  padding-left: 0;
}

.download {
  text-align: center;
}

.download-btn {
  height: 60px;
  background-color: #2bb5b963;
  display: flex;
  justify-content: center;
  align-items: center;
}

.download-btn:hover {
  background-color: #2bb5b99e;
  cursor: pointer;
}

.downloadDiv,
.my-documents {
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-docs-btn:hover {
  border-bottom: 1px solid #fff;
  cursor: pointer;
}

.template-menu-btn:hover {
  cursor: pointer;
}

.font-btn:focus,
.theme-btn:focus,
.coverLayout-btn:focus,
.template-btn:focus,
.back-btn:focus,
.fwd-btn:focus,
.download-btn:focus,
.my-docs-btn:focus,
.template-menu-btn:focus {
  outline: none;
}

.tool-download {
  font-size: 0.9rem;
  font-weight: bold;
  color: #fff;
}

.tool-mydoc {
  font-size: 0.9rem;
  font-weight: bold;
}

.temp-menu {
  display: flex;
  flex-direction: column;
}

.tool-menu-bar {
  font-size: x-large;
  height: 8px;
}

.last-bar {
  margin-bottom: 10px;
}

/* ========================================= */
/* Sub Nav Section */
/* ========================================= */

/* font sub-menu */
.fontSubMenu,
.colorSubMenu {
  position: fixed;
  background: #2b3a42;
  top: 65px;
  width: 170px;
  height: 290px;
  border-radius: 10px;
  text-align: center;
  font-size: 0.9rem;
  box-shadow: -5px 0 20px 5px rgba(0, 0, 0, 0.5);
}

.fontFamilyDiv {
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.openSansLi:hover,
.quickSandLi:hover,
.ubuntuLi:hover,
.hindLi:hover,
.kuraLi:hover,
.robotLi:hover,
.merryLi:hover,
.ralewayLi:hover {
  cursor: pointer;
  color: rgb(43, 181, 185);
}

.openSansLi:focus,
.quickSandLi:focus,
.ubuntuLi:focus,
.hindLi:focus,
.kuraLi:focus,
.robotLi:focus,
.merryLi:focus,
.ralewayLi:focus {
  outline: none;
}

.openSansLi,
.quickSandLi,
.ubuntuLi,
.hindLi,
.kuraLi,
.robotLi,
.merryLi,
.ralewayLi {
  background: #2b3a42;
  color: #fff;
  margin: 0;
}

.openSansLi {
  font-family: "Open Sans", sans-serif;
}

.quickSandLi {
  font-family: "Quicksand", sans-serif;
}

.ubuntuLi {
  font-family: "Ubuntu", sans-serif;
}

.robotLi {
  font-family: "Roboto Condensed", sans-serif;
}

.merryLi {
  font-family: "Merriweather", sans-serif;
}

.hindLi {
  font-family: "Hind", sans-serif;
}

.ralewayLi {
  font-family: "Raleway", sans-serif;
}

.kuraLi {
  font-family: "Kurale", sans-serif;
}

/* color sub-menu */
.colorOptionsDiv {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.colorBtn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0.5rem;
  cursor: pointer;
}

.colorBtn:focus {
  outline: none;
}

.yellowBtn {
  background: yellow;
}

.redBtn {
  background: red;
}

.blackBtn {
  background: black;
}

.blueBtn {
  background: blue;
}

.greenBtn {
  background: green;
}

.orangeBtn {
  background: orange;
}

.purpleBtn {
  background: purple;
}

.tomatoBtn {
  background: tomato;
}

.brownBtn {
  background: brown;
}

.burlywoodBtn {
  background: burlywood;
}

.cornflowerblueBtn {
  background: cornflowerblue;
}

.aquaBtn {
  background: aqua;
}

.darkgreyBtn {
  background: darkgrey;
}

/* font-size sub-menu */
.fontSizeSubMenu {
  position: fixed;
  background: #2b3a42;
  top: 65px;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  text-align: center;
  font-size: 0.9rem;
  box-shadow: -5px 0 20px 5px rgba(0, 0, 0, 0.5);
}

/* Layout sub-menu */
.coverLayoutSubMenu {
  position: fixed;
  background: #2b3a42;
  top: 65px;
  left: 300px;
  width: 400px;
  height: 65px;
  border-radius: 10px;
  text-align: center;
  font-size: 0.9rem;
  box-shadow: -5px 0 20px 5px rgba(0, 0, 0, 0.5);
}

.headerElements {
  height: 65px;
  border-bottom: 1px solid blue;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 150px;
}

.headerContainer {
  direction: rtl;
  cursor: pointer;
}

.dndSectionP {
  margin-block-start: 0em;
  margin-block-end: 0em;
  display: contents;
}

.coverLetterLabel {
  margin: 20px;
}

/* Hide the browser's default radio button */
.headerContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
/* .checkMark {
  position: absolute;
  height: 16px;
  width: 16px;
  background-color: #eee;
  border-radius: 50%;
  margin-right: 10px;
} */

/* On mouse-over, add a grey background color */
/* .headerContainer:hover input~.checkMark {
  background-color: #ccc;
}

.checkedCircle {
  background: #fff;
  border: 4px solid #08dcdc;
  width: 10px;
  height: 10px;
  border-radius: 50%;
} */

/* When the radio button is checked, add a blue background */
/* .headerContainer input:checked~.checkmark {
  background-color: #2196f3;
} */

/* Create the indicator (the dot/circle - hidden when not checked) */
/* .checkmark:after {
  content: "";
  position: absolute;
  display: none;
} */

/* Show the indicator (dot/circle) when checked */
/* .headerContainer input:checked~.checkmark:after {
  display: block;
  position: absolute;
  top: 4px;
  right: 3.7px;
} */

/* Style the indicator (dot/circle) */
/* .headerContainer .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
} */

/* .layoutToggle {
  margin-top: 22px;
}

.layoutToggle .toggleButton {
  border: 1px solid blue;
  color: #fff;
  background-color: blue;
}

.layoutToggle .active {
  background-color: blue;
  color: #fff;
}

.layoutCV {
  margin: 2rem 3rem;
  background: #fff center center;
  height: 94.334625mm;
  width: 66.70125mm;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 1fr 1fr 1fr; */
/* grid-auto-flow: row;
} */

#leftCvSection,
#rightCvSection {
  display: grid;
}

.dndText {
  color: #fff;
  position: relative;
  top: -391px;
  left: 33px;
}

.checkedInput {
  position: relative;
  left: -24.33px;
}

.dndContainer {
  width: 480px;
  height: 320px;
  background: #0000004d;
  position: relative;
  bottom: 370px;
  left: 335px;
  display: grid;
  grid-template-columns: 31% 31% 31%;
  grid-template-rows: 40px 40px 40px;
  grid-gap: 6px;
  justify-content: space-around;
  padding-top: 7px;
  border-radius: 5px;
  padding: 12px;
}

.dndSection {
  background: grey;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

*/

/* Templates sub-menu */
.templatesSubMenu {
  position: fixed;
  background: #2b3a42;
  top: 65px;
  left: 180px;
  width: 800px;
  height: 200px;
  border-radius: 10px;
  text-align: center;
  font-size: 0.9rem;
  box-shadow: -5px 0 20px 5px rgba(0, 0, 0, 0.5);
}

.templatesSubMenuTitle {
  padding-top: 5px;
}

.templatesSubMenuCarousel {
  /* background: green; */
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 45px 45px 45px;
  grid-gap: 6px;
  justify-content: space-around;
  padding-top: 5px;
}

.templatesSubMenuModels {
  background: #fff;
  height: 120px;
  margin-top: 12px;
}

/* Here starts cv extra tools section */

.CvMenuWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: fixed;
  top: 0;
}

.cvExtraToolsDiv {
  background: #375061;
  height: 2.2rem;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.extra-tools-btn {
  padding-right: 2em;
  background: #375061;
  color: #fff;
  cursor: pointer;
}

.extra-tools-btn:hover {
  color: #2196f3;
}

.extra-tool {
  font-size: 1.2rem;
  font-weight: bold;
}

.italicStyle {
  font-style: italic;
}

.underStyle {
  font-size: 0.9em;
}

/* LINKEDIN INPUT and BUTTON SECTION */
#linkedInInput {
  background: #72726dee;
  height: 65%;
  margin: 0;
  width: 35vw;
  border-radius: 20px;
  padding-left: 15px;
  color: #fff;
  margin-bottom: 4px;
}

::placeholder {
  color: #fff;
}

.linkedInButton,
.saveUpdateButton {
  margin: 0;
  padding: 0;
  height: 65%;
  color: black;
  width: 8vw;
  margin-left: 10px;
  background: #68ec94;
  margin-bottom: 4px;
}

.linkedInButton:hover {
  background: #19ee60;
}

.saveUpdateButton {
  background: #0384ec;
  color: #eee;
}

.saveUpdateButton:hover {
  background: #3a9ff1;
}

@media (max-width: 1015px) {
  .tool-desc {
    display: none;
  }

  .tool-download {
    display: flex;
  }

  #linkedInInput {
    width: 50vw;
  }

  .linkedInButton,
  .saveUpdateButton {
    width: 10vw;
  }
}

@media (max-width: 500px) {
  #linkedInInput {
    font-size: 12px;
  }

  ::placeholder {
    font-size: 12px;
  }

  .linkedInButton,
  .saveUpdateButton {
    font-size: 12px;
  }
}