.CV_Templates_MainContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -10px;
  padding-top: 30px;
  background: linear-gradient(to right, #c7d7e6, #c7d7e633);
  /* box-shadow: 2px 2px 2px 2px rgba(34, 36, 38, 0.15); */
  z-index: 7;
}

.CV_Dashboard_MainContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px 0;
  background: #2b3a42;
  /* box-shadow: 2px 2px 2px 2px rgba(34, 36, 38, 0.15); */
  z-index: 0;
  margin: 0;
}

.Cover_Dashboard_MainContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px 0;
  background-color: #2b3a42;
  /* box-shadow: 2px 2px 2px 2px rgba(34, 36, 38, 0.15); */
  z-index: 7;
  margin: 0;
}

.cvBox {
  width: 300px;
  height: 320px;
  overflow: hidden;
  margin: 2%;
  display: flex;
  justify-content: center;
}

.cvBox:hover {
  scale: 0.97;
}

.cvBox img {
  width: 250px;
  height: 320px;
  object-fit: contain;
  margin: 0 20%;
}

.cvBox2 {
  position: relative;
  width: 275px;
  height: 225 px;
  overflow: hidden;
  margin: 2%;
  display: flex;
  justify-content: center;
  opacity: 1 !important;
}

.cvBox2:hover {
  scale: 0.97;
}

.cvBox2 img {
  width: 275px;
  height: 225px;
  object-fit: contain;
  margin: 0 20%;
  cursor: pointer;
}

.cvBox2 .AddCV {
  width: 275px;
  height: 225px;
  object-fit: contain;
  margin: 0 20%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cvBox2 img.ADD {
  height: 40px;
  width: 40px;
  box-shadow: none;
}

.MoreOptions {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 15px;
  right: 70px;
  height: 20px;
  border-radius: 7px;
}

.icon3Dots {
  font-size: 25px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.icon3Dots:hover {
  cursor: pointer;
  color: #59afb8;
}

.icon3Dots:hover+.optionsMenuDiv,
.optionsMenuDiv:hover {
  display: grid;
}

.optionsMenuDiv {
  background: #2b3a42;
  width: 105px;
  height: 88px;
  border-radius: 8px;
  text-align: center;
  font-size: 0.7rem;
  box-shadow: -2px 0 8px 3px rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  position: absolute;
  top: -90px;
  right: -60px;
  color: #fff;
  display: none;
}

.gotBorder {
  border-bottom: 1px solid rgb(110, 109, 109);
}

.MoreOptions>.optionsMenuDiv>.optionInnerDiv {
  display: grid;
  grid-template-columns: 1fr 4fr;
  width: 100%;
  height: 100%;
  align-items: center;
  padding: 0 10px;
}

.gotBorder:hover {
  background: #4c6674;
  cursor: pointer;
}

.deleteDiv:hover {
  background: rgb(218, 125, 125);
  cursor: pointer;
}