.noLinkedInError {
    position: fixed;
    background: #2b3a42;
    top: 65px;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    text-align: center;
    font-size: 0.9rem;
    box-shadow: -5px 0 20px 5px rgba(0, 0, 0, 0.5);
    z-index: 5000;
}