/* .red-text {
    width: 150px;
} */
.registerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background: aliceblue;
  height: 100%;
}

.registerContainer {
  background: #2b3a42;
  width: 100vw;
  height: 100vh;
  text-align: center;
  font-size: 0.9rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.registerLeftDiv {
  background-color: #fff;
  color: black;
  border-radius: 10px 0 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.registerRightDiv {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../assets/shared_workspace.png") no-repeat center;
  background-size: 100%;
}

.closeRegistrationForm {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
}

/* Form style */
.clearfix:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}

.form_wrapper {
  background: #fff;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  padding: 2%;
  position: relative;
  z-index: 0;
  transform-origin: 50% 0%;
  transform: scale3d(1, 1, 1);
  transition: none;
  animation: expand 0.8s 0.6s ease-out forwards;
  opacity: 0;
  display: flex;
  width: 75%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 73vh;
}

/* h2 {
    font-size: 3em;
    line-height: 1.5em;
    margin: 0;
} */

/* === added for Login === */
.pleaseLoginText {
  font-size: 2em;
}

/* ======================= */

.autoRegistration {
  display: flex;
  align-items: center;
  justify-content: center;
}

.autoRegistrationLogin {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}

.googleSignUpDiv {
  background: blue;
  width: 20vw;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  cursor: pointer;
}

.googleSignUpDiv:hover {
  background: rgba(0, 0, 255, 0.89);
}

.googleIcon {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  padding: 0;
  margin: 0;
}

.googleText {
  color: #fff;
  font-weight: bold;
  font-size: 1em;
  padding-left: 0.5em;
}

.break-line {
  display: flex;
  align-items: center;
  justify-content: center;
}

hr {
  width: 40%;
  color: rgb(190, 182, 182);
}

.orText {
  margin: 1rem 2rem;
  color: rgb(190, 182, 182);
  font-size: 1.2rem;
}

.title_container {
  text-align: center;
}

label {
  font-size: 0.8rem;
}

.input_field {
  position: relative;
  margin-bottom: 1.2rem;
  -webkit-animation: bounce 0.6s ease-out;
  animation: bounce 0.6s ease-out;
  font-size: 1rem;
}

.input_field > span {
  position: absolute;
  left: 0.5em;
  top: 0;
  color: #333;
  height: 100%;
  text-align: left;
  width: 1rem;
}

.input_field > i {
  padding-top: 0.6rem;
}

.textarea_field > span > i {
  padding-top: 0.6rem;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 0.5rem 0.7rem 0.6rem 2.2rem;
  height: 2.2rem;
  border: none;
  border-bottom: 1px solid grey;
  box-sizing: border-box;
  outline: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="password"]:hover {
  background: #fafafa;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  -webkit-box-shadow: 0 0 2px 1px blue;
  -moz-box-shadow: 0 0 2px 1px blue;
  box-shadow: 0 0 2px 1px blue;
  border: 1px solid blue;
  background: #fafafa;
}

.submitDiv {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submitDivLogin {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
}

input[type="submit"] {
  background: blue;
  height: 2.2rem;
  line-height: 2.2rem;
  width: 15vw;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  font-size: 1.5em;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

input[type="submit"]:hover {
  background: rgba(0, 0, 255, 0.89);
}

input[value="Register"],
input[value="Login"] {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  padding: 20px;
}

input:hover {
  background: darken(yellow, 7%);
}

input:focus {
  background: darken(yellow, 7%);
}

input[type="checkbox"],
input[type="radio"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 2px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 2px;
}

.form_container {
  width: 100%;
  height: 100%;
}

.form_container .row .col_half.last {
  border-left: 1px solid grey;
}

.checkbox_option label {
  margin-right: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox_option label:before {
  content: "";
  display: inline-block;
  width: 0.6em;
  height: 0.6em;
  border-radius: 50%;
  margin-right: 0.5em;
  vertical-align: -2px;
  border: 2px solid grey;
  padding: 0.12em;
  background-color: transparent;
  background-clip: content-box;
  transition: all 0.2s ease;
}

.checkbox_option label:after {
  border-right: 2px solid black;
  border-top: 2px solid black;
  content: "";
  height: 1.25rem;
  left: 2px;
  position: absolute;
  top: 7px;
  transform: scaleX(-1) rotate(135deg);
  transform-origin: left top;
  width: 7px;
  display: none;
}

input:hover + label:before {
  border-color: black;
}

input:checked + label:before {
  border-color: black;
}

input:checked + label:before:after {
  -moz-animation: check 0.8s ease 0s running;
  -webkit-animation: check 0.8s ease 0s running;
  animation: check 0.8s ease 0s running;
  display: block;
  width: 7px;
  height: 1.25rem;
  border-color: black;
}

.radio_option label {
  margin-right: 1em;
}

.radio_option label:before {
  content: "";
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  margin-right: 0.5em;
  border-radius: 100%;
  vertical-align: -3px;
  border: 2px solid grey;
  padding: 0.15em;
  background-color: transparent;
  background-clip: content-box;
  transition: all 0.2s ease;
}

input:hover + label:before {
  border-color: black;
}

input:checked + label:before {
  background-color: black;
  border-color: black;
}

.select_option {
  position: relative;
  width: 100%;
}

select {
  display: inline-block;
  width: 100%;
  height: 2.2rem;
  padding: 0px 1rem;
  cursor: pointer;
  color: #7b7b7b;
  border: 1px solid grey;
  border-radius: 0;
  background: #fff;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: all 0.2s ease;
}

select::-ms-expand {
  display: none;
}

select:hover,
select:focus {
  color: black;
  background: #fafafa;
  border-color: black;
  outline: none;
}

.select_arrow {
  position: absolute;
  top: calc(50% - 4px);
  right: 15px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-width: 8px 5px 0 5px;
  border-style: solid;
  border-color: #7b7b7b transparent transparent transparent;
}

.select_option select:hover + .select_arrow,
.select_option select:focus + .select_arrow {
  border-top-color: black;
}

.alreadyMember {
  font-size: 1.1em;
  margin-top: 1rem;
  display: none;
}

.addLink {
  color: blue;
  padding-left: 4px;
}

/* ====== added for login ====== */
.rememberAndForgotPasswordDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.changePassword {
  font-weight: bold;
}

/* ============================= */

@-webkit-keyframes check {
  0% {
    height: 0;
    width: 0;
  }

  25% {
    height: 0;
    width: 7px;
  }

  50% {
    height: 20px;
    width: 7px;
  }
}

@keyframes check {
  0% {
    height: 0;
    width: 0;
  }

  25% {
    height: 0;
    width: 7px;
  }

  50% {
    height: 20px;
    width: 7px;
  }
}

@-webkit-keyframes expand {
  0% {
    -webkit-transform: scale3d(1, 0, 1);
    opacity: 0;
  }

  25% {
    -webkit-transform: scale3d(1, 1.2, 1);
  }

  50% {
    -webkit-transform: scale3d(1, 0.85, 1);
  }

  75% {
    -webkit-transform: scale3d(1, 1.05, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

@keyframes expand {
  0% {
    -webkit-transform: scale3d(1, 0, 1);
    transform: scale3d(1, 0, 1);
    opacity: 0;
  }

  25% {
    -webkit-transform: scale3d(1, 1.2, 1);
    transform: scale3d(1, 1.2, 1);
  }

  50% {
    -webkit-transform: scale3d(1, 0.85, 1);
    transform: scale3d(1, 0.85, 1);
  }

  75% {
    -webkit-transform: scale3d(1, 1.05, 1);
    transform: scale3d(1, 1.05, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translate3d(0, -25px, 0);
    opacity: 0;
  }

  25% {
    -webkit-transform: translate3d(0, 10px, 0);
  }

  50% {
    -webkit-transform: translate3d(0, -6px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 2px, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translate3d(0, -25px, 0);
    transform: translate3d(0, -25px, 0);
    opacity: 0;
  }

  25% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  50% {
    -webkit-transform: translate3d(0, -6px, 0);
    transform: translate3d(0, -6px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 2px, 0);
    transform: translate3d(0, 2px, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@media (max-width: 1015px) {
  .registerContainer {
    grid-template-columns: 1fr;
  }

  .registerLeftDiv {
    border-radius: 10px;
  }

  .closeRegistrationForm {
    color: black;
  }
}

@media (max-width: 935px) {
  .googleSignUpDiv {
    width: 30vw;
  }

  input[type="submit"] {
    width: 25vw;
  }
}

@media (max-width: 850px) {
  .googleSignUpDiv {
    width: 40vw;
  }

  .closeRegistrationForm {
    top: 10px;
    right: 10px;
  }

  input[type="submit"] {
    width: 40vw;
  }
}

@media (max-width: 468px) {
  .googleSignUpDiv {
    width: 80vw;
  }

  input[type="submit"] {
    width: 80vw;
  }

  /* ====== added for login ====== */
  h2 {
    font-size: 2.5em;
  }

  .pleaseLoginText {
    font-size: 1.2em;
  }

  /* ============================= */
}
