html {
    scroll-behavior: smooth;
}

.table-of-content {
    margin-top: 50px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.termsParagraphs {
    margin-top: 50px;
}

button {
    background: linear-gradient(to left, #3dbaf7, #1d3b8b);
    height: 40px;
    margin: 5px;
    width: 50%;
    font-weight: 800;
    border-radius: 20px;
}

button:focus {
    outline: 0;
}

.intro {
    margin-top: 80px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
}

h1 {
    text-align: center;
    margin-bottom: 50px;
}

p {
    text-indent: 40px;
}